.Footer{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
}
.Footer > :not(:first-child):not(:last-child) {
    border-right: solid 1px black;
    border-left: solid 1px black;
}

.FooterBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.Footer_Box_Title{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    border-bottom: solid 1px black;
}

.Footer_Box_Text{
    text-align: center;
    padding: 20px;
}